<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TimeSheet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Marção<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Apontamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Relatório</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Procurar..." aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="mt-3">
        <div class="row">
            <div class="col align-self-start">
                <div class="card border-dark">
                    <div class="card-header text-white">
                        <h5> <span class="badge badge-light">Thiago Pacheco</span></h5>
                        <h5> <span class="badge badge-light">Terça-feira - 05/09/2017</span></h5>
                    </div>
                    <div class="alert alert-danger" [hidden]="msgErroMarcacao" role="alert">
                        Horário de {{campoMarcacao}} informado nao é válido.
                    </div>

                    <div class="card-body text-dark">
                        <form>
                            <div class="row">
                                <div class="col-lg-offset-3 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoEntradaRegistrado) ? 'btn btn-secondary' : 'btn btn-success'" #btnEntradaVisualizar  type="button"> {{marcacaoEntradaRegistrado ? textoMarcacaoRegistrado + ' - ' +  horaEntrada : horaEntrada}} </button>
                                        </span>
                                        <input type="text" kzMask="99:99" (keydown)="handleKeyDown($event,inputEntrada.name)" #inputEntrada ngModel="entrada" name="entrada"
                                            class="form-control" placeholder="Entrada" aria-label="Entrada">
                                        <span class="input-group-btn">
                                        <button [ngClass]="(!marcacaoEntradaRegistrado) ? 'btn btn-primary' : 'btn btn-danger'" (click)="_registrarMarcacao(inputEntrada.name)" #btnEntradaRegistrar type="button">{{ marcacaoEntradaRegistrado ? 'Editar' : 'Registrar' }}</button>
                                    </span>
                                    </div>
                                </div>
                                <div class="col-lg-offset-5 col-md-6" style="border-left:1px solid #ccc;height:80px">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoSaidaRefeicaoRegistrado) ? 'btn btn-secondary' : 'btn btn-success'" #btnSaidaRefeicaoVisualizar  type="button"> {{marcacaoSaidaRefeicaoRegistrado ? textoMarcacaoRegistrado + ' - ' +  horaSaidaRefeicao : horaSaidaRefeicao}} </button>
                                         </span>
                                        <input type="text" kzMask="99:99" (keydown)="handleKeyDown($event,inputSaidaRefeicao.name)" #inputSaidaRefeicao ngModel="saidaRefeicao"
                                            name="saidaRefeicao" class="form-control" placeholder="Saída Refeição" aria-label="Saída Refeição">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoSaidaRefeicaoRegistrado) ? 'btn btn-primary' : 'btn btn-danger'" (click)="_registrarMarcacao(inputSaidaRefeicao.name)" #btnSaidaRefeicaoRegistrar type="button">{{ marcacaoSaidaRefeicaoRegistrado ? 'Editar' : 'Registrar' }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-3 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoRetornoRefeicaoRegistrado) ? 'btn btn-secondary' : 'btn btn-success'" #btnRetornoRefeicaoVisualizar  type="button"> {{marcacaoRetornoRefeicaoRegistrado ? textoMarcacaoRegistrado + ' - ' +  horaRetornoRefeicao : horaRetornoRefeicao}} </button>
                                        </span>
                                        <input type="text" kzMask="99:99" (keydown)="handleKeyDown($event,inputRetornoRefeicao.name)" #inputRetornoRefeicao ngModel="retornoRefeicao"
                                            name="retornoRefeicao" class="form-control" placeholder="Retorno Refeição" aria-label="Retorno Refeição">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoRetornoRefeicaoRegistrado) ? 'btn btn-primary' : 'btn btn-danger'" (click)="_registrarMarcacao(inputRetornoRefeicao.name)" #btnRetonoRefeicaoRegistrar type="button">{{ marcacaoRetornoRefeicaoRegistrado ? 'Editar' : 'Registrar' }}</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-offset-5 col-md-6" style="border-left:1px solid #ccc">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoSaidaRegistrado) ? 'btn btn-secondary' : 'btn btn-success'" #btnSaidaVisualizar  type="button"> {{marcacaoSaidaRegistrado ? textoMarcacaoRegistrado + ' - ' +  horaSaida : horaSaida}} </button>
                                        </span>
                                        <input type="text" kzMask="99:99" (keydown)="handleKeyDown($event,inputSaida.name)" #inputSaida ngModel="saida"
                                            name="saida" class="form-control" placeholder="Saída" aria-label="Saída">
                                        <span class="input-group-btn">
                                            <button [ngClass]="(!marcacaoSaidaRegistrado) ? 'btn btn-primary' : 'btn btn-danger'" (click)="_registrarMarcacao(inputSaida.name)" #btnSaidaRegistrar type="button">{{ marcacaoSaidaRegistrado ? 'Editar' : 'Registrar' }}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descrição das Atividades Executadas</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Cód Atividade Cronograma ou Cód Chamado</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="row">
            <div class="col align-self-start">
                <div class="card border-dark">
                    <div class="card-header text-white">
                        <div class="row">
                            <div class=" col-lg-offset-5 col-md-6">
                                <h5><span class="badge badge-light">Tempo transcorrido: 04:35</span></h5>
                            </div>
                            <div class=" col-lg-offset-5 col-md-6" style="border-left:1px solid #ccc">
                                <h5><span class="badge badge-light">Tempo restante: 04:35</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-lg-offset-5 col-md-6">
                                <h5><span class="badge badge-danger">Hora saída mínima: 19:00</span></h5>
                            </div>
                            <div class=" col-lg-offset-5 col-md-6" style="border-left:1px solid #ccc">
                                <h5><span class="badge badge-light">Total de horas normais: 45:10</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>